/* Bootstrap & paper dashboard overrides */
.text-danger {
    color: #dc3545 !important;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer; 
}

.nav-tabs {
    border-bottom-width: 2px;
}

.nav-tabs .nav-link, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 2.4rem !important;
    border-left: 1px solid #51cbce;
    border-top: 1px solid #51cbce;
    border-right: 1px solid #51cbce;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.nav-tabs .nav-item.active > a {
    background-color: #51cbce;
    color: white;
}

.modal-backdrop {
    background-color: #00000080 !important;
}

/* Element styles */

html {
    margin-left: calc(100vw - 100%);
    font-size: 10px;
}

body {
    background-color: #f4f3ef;
    font-size: 1.8rem;
    padding-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

select {
    -webkit-appearance: menulist-button;
    appearance: menulist-button;
}

button {
    font-size: 1.2rem !important;
}

input, textarea {
}

input:focus, textarea:focus {
    background-color: #ffffff;
}

input[type="number"] {
    text-align: right;
}

input[type="number"]::-webkit-inner-spin-button {
    margin-left: 1rem;
}

td.tam-admin_input > input, td.tam-admin_input > textarea {
    background-color: transparent;
    border: none;
}

.tam-admin_input > input, .tam-admin_input > textarea {
    font-size: 1.6rem;
    line-height: 2.6rem;
    resize: none;
}

.tam-admin_input > .text-danger, .tam-admin_modal-input > .text-danger {
    font-size: 1.2rem;
}

.tam-admin_modal-input > input {
    font-size: 2rem;
    line-height: 2.4rem;
}

.tam-admin_input[data-modified="true"] > input, .tam-admin_input[data-modified="true"] > textarea {
    color: green !important;
}

.tam-admin_modal-body {
    padding: 1rem 2rem;
}

.tam-admin_modal-input > input:focus {
    border: 2px solid blue;
}

.tam_admin_tab{
    font-size: 3.2rem;
}

.tam-admin_avail_groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

.tam-admin_avail_group {
    margin: 2rem 4rem;
}

.tam-admin_avail_group-title {
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 2rem;
}

.tam-admin_avail_group-items {
    padding-left: 1rem;
}

.tam-admin_avail_group-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 1.5rem 0;
}

.tam-admin_avail_group-item-title {
    flex-grow: 1;
}

.tam-admin_avail_group-item-avail {
    zoom: 1;
}

.tam-admin_menus_select > select {
    font-size: 2rem;
}

.tam-admin_menus_select > select > option[data-modified="1"], .tam-admin_menus_select > select > option[data-modified="true"] {
    color: #51cbce !important;
}

.tam-admin_menus_card {
    margin-left: 1rem;
    padding: 2rem 4rem;
}

.tam-admin_menus_card-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.tam-admin_menus_card-header-title {
    flex-grow: 1;
    margin-right: 4rem;
}

.tam-admin_menus_card-header-title > input {
    background-color: transparent;
    border: none;
}

.tam-admin_menus_card-header-title, .tam-admin_menus_card-header-title > input {
    font-size: 2.8rem;
}

.tam-admin_menus_price > input {
    font-size: 2.8rem;
}

.tam-admin_menus_actions-bttns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1rem;
}

.tam-admin_menus_action-bttn {
    display: block;
    margin-left: 1rem;
    font-size: 3rem;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
}

.tam-admin_menus_action-bttn:first-of-type {
    margin-left: 0;
}

.tam-admin_menus_food .tam-admin_menus_title {
    width: 30%;
}

.tam-admin_menus_food .tam-admin_menus_desc {
    width: 40%;
}

.tam-admin_menus_food .tam-admin_menus_price {
    width: 12%;
}

.tam-admin_menus_food .tam-admin_menus_actions {
    width: 18%;
}

.tam-admin_menus-other {

}

.tam-admin_menus_other .tam-admin_menus_title {
    width: 70%;
}

.tam-admin_menus_other .tam-admin_menus_price {
    width: 12%;
}

.tam-admin_menus_other .tam-admin_menus_actions {
    width: 18%;
}

.tam-admin_settings_card {
    display: grid;
    grid-template-columns: repeat(2, max-content auto);
    padding: 4rem;
}

.tam-admin_settings_setting {
    display: contents;
}

.tam-admin_settings_setting-label {
    padding-right: 2rem;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.tam-admin_settings_radio {
    margin-right: 2rem;
}

.tam-admin_settings_radio:last-of-type {
    margin-right: 0;
}

.tam-admin_settings_radio > input {
    height: 2rem;
    width: 2rem;
}

.tam-admin_settings_radio > label {
    text-align: left;
    margin-left: 1rem;
    padding-left: 0 !important;
}

/* Switch */
.tam-admin_switch {
    --switch-height: 2.6rem;
    --switch-width: 4.6rem;
    position: relative;
    display: inline-block;
    height: var(--switch-height);
    width: var(--switch-width);
}

.tam-admin_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.tam-admin_switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--switch-height);
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.tam-admin_switch-slider:before {
    --slider-height: calc(var(--switch-height) - 0.8rem);
    --slider-width: calc((var(--switch-width) - 0.8rem) / 2);
    position: absolute;
    content: "";
    height: var(--slider-height);
    width: var(--slider-width);
    left: 0.4rem;
    bottom: 0.4rem;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .tam-admin_switch-slider {
    background-color: #51cbce;
}

input:focus + .tam-admin_switch-slider {
    box-shadow: 0 0 1px #51cbce;
}

input:checked + .tam-admin_switch-slider:before {
    -webkit-transform: translateX(var(--slider-width));
    -ms-transform: translateX(var(--slider-width));
    transform: translateX(var(--slider-width));
}