/* Bootstrap & paper dashboard overrides */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer; 
}

.nav-tabs {
    border-bottom-width: 2px;
}

.nav-tabs .nav-link, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 2.4rem !important;
    border-left: 1px solid #51cbce;
    border-top: 1px solid #51cbce;
    border-right: 1px solid #51cbce;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.nav-tabs .nav-item.active > a {
    background-color: #51cbce;
    color: white;
}

/* Element styles */

html {
    font-size: 10px;
}

body {
    background-color: #f4f3ef;
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    font-size: 1.2rem !important;
}

input, textarea {
    background-color: transparent;
    border: none;
    resize: none;
}

input:focus, textarea:focus {
    background-color: #ffffff;
}

.tam-admin_input[data-modified="true"] > input, .tam-admin_input[data-modified="true"] > textarea {
    color: green !important;
}

.tam-admin_avail_groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

.tam_admin_tab{
    font-size: 3.2rem;
}

.tam-admin_avail_group {
    margin: 2rem 4rem;
}

.tam-admin_avail_group-title {
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 2rem;
}

.tam-admin_avail_group-items {
    padding-left: 1rem;
}

.tam-admin_avail_group-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 1.5rem 0;
}

.tam-admin_avail_group-item-title {
    flex-grow: 1;
}

.tam-admin_avail_group-item-avail {
    zoom: 1;
}

.tam-admin_menus_select > select {
    font-size: 2rem;
}

option {
    -webkit-appearance: none;
}

.tam-admin_menus_select > select > option[data-is-current="1"], .tam-admin_menus_select > select > option[data-is-current="true"] {
    color: #51cbce;
}

.tam-admin_menus_card {
    margin-left: 1rem;
    padding: 2rem 4rem;
}

.tam-admin_menus_card-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.tam-admin_menus_card-header-title {
    flex-grow: 1;
    margin-right: 4rem;
}

.tam-admin_menus_price > input {
    font-size: 2.8rem;
    text-align: right;
}

.tam-admin_menus_price > input::-webkit-inner-spin-button {
    margin-left: 1rem;
}

.tam-admin_menus_actions-bttns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1rem;
}

.tam-admin_menus_action-bttn {
    display: block;
    margin-left: 1rem;
    font-size: 3rem;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
}

.tam-admin_menus_action-bttn:first-of-type {
    margin-left: 0;
}

.tam-admin_menus_food .tam-admin_menus_title {
    width: 30%;
}

.tam-admin_menus_food .tam-admin_menus_desc {
    width: 40%;
}

.tam-admin_menus_food .tam-admin_menus_price {
    width: 12%;
}

.tam-admin_menus_food .tam-admin_menus_actions {
    width: 18%;
}

.tam-admin_menus-other {

}

.tam-admin_menus_other .tam-admin_menus_title {
    width: 70%;
}

.tam-admin_menus_other .tam-admin_menus_price {
    width: 12%;
}

.tam-admin_menus_other .tam-admin_menus_actions {
    width: 18%;
}