@font-face {
    font-family: 'tam-icons';
    src:  url('../fonts/tam-icons/tam-icons.eot?9eyko2');
    src:  url('../fonts/tam-icons/tam-icons.eot?9eyko2#iefix') format('embedded-opentype'),
        url('../fonts/tam-icons/tam-icons.ttf?9eyko2') format('truetype'),
        url('../fonts/tam-icons/tam-icons.woff?9eyko2') format('woff'),
        url('../fonts/tam-icons/tam-icons.svg?9eyko2#tam-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.tam-icon {
    font-family: 'tam-icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tam-icon-bttn {
    font-family: 'tam-icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    pointer-events: all;
}

.tam-icon-bttn[data-visible="1"], .tam-icon-bttn[data-visible="true"] {
    opacity: 1;
}

.tam-icon-bttn[data-disabled="1"], .tam-icon-bttn[data-disabled="true"] {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

.tam-icon-bttn:hover, .tam-icon-bttn:active {
    color: #b3741a;
}

.tam-icon-bttn_primary {
    color: #51cbce;
}

.tam-icon-bttn_primary:hover, .tam-icon-bttn_primary:active {
    color: #34b5b8;
}

.tam-icon-bttn_success {
    color: #6bd098;
}

.tam-icon-bttn_success:hover, .tam-icon-bttn_success:active {
    color: #44c47d;
}

.tam-icon-bttn_danger {
    color: #ef8157;
}

.tam-icon-bttn_danger:hover, .tam-icon-bttn_danger:active {
    color: #eb6532;
}

.tam-icon_plus:before {
    content: "\e900";
}

.tam-icon_plus:hover:before, .tam-icon_plus:active:before {
    content: "\e901";
}

.tam-icon_plus-filled:before {
    content: "\e901";
}

.tam-icon_minus:before {
    content: "\e902";
}

.tam-icon_minus:hover:before, .tam-icon_minus:active:before {
    content: "\e903";
}

.tam-icon_minus-filled:before {
    content: "\e903";
}

.tam-icon_chevron-circle-left:before {
    content: "\e904";
}

.tam-icon_chevron-circle-left:hover:before, .tam-icon_chevron-circle-left:active:before {
    content: "\e905";
}

.tam-icon_chevron-circle-up:before {
    content: "\e906";
}

.tam-icon_chevron-circle-up:hover:before, .tam-icon_chevron-circle-up:active:before {
    content: "\e907";
}

.tam-icon_chevron-circle-right:before {
    content: "\e908";
}

.tam-icon_chevron-circle-right:hover:before, .tam-icon_chevron-circle-right:active:before {
    content: "\e909";
}

.tam-icon_chevron-circle-down:before {
    content: "\e90a";
}

.tam-icon_chevron-circle-down:hover:before, .tam-icon_chevron-circle-down:active:before {
    content: "\e90b";
}

.tam-icon_chevron-left:before {
    content: "\e90c";
}

.tam-icon_chevron-up:before {
    content: "\e90d";
}

.tam-icon_chevron-right:before {
    content: "\e90e";
}

.tam-icon_chevron-down:before {
    content: "\e90f";
}

.tam-icon_back-arrow:before {
    content: "\e910";
}

.tam-icon_arrow:before {
    content: "\e911";
}

.tam-icon_menu:before {
    content: "\e912";
}